<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path=== '/users' ? 'active' : '' %>"
                    href="/users">Users</a></li>
        </ul>
    </nav>
</header>